.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
}

.right {
    white-space: nowrap;
}
.right .side-menu {
    margin-right: 60px;
}
.right .side-menu li{
    display: inline;
    float: left;    
 }
.right .side-menu ul {
    display: inline-block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.right .side-menu ul li {
    margin-bottom: 15px;
}
header .right .lang-switch {
    display: inline-block;
}