.App {
  /* text-align: center; */
}
header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    /* display: flex;
    justify-content: space-between; */
}

header li.line {
    margin-right: 9px !important;
    width: 1px;
    background-color: #999;
    height: 12px;
}
header .left {
    display: inline;
    float: left;
    box-sizing: border-box;
    border-left: 0px solid #000;
    height: 10px;
    line-height: 1em;
    border-left-width: 0px;
    -webkit-transition: border-left-width 0.15s;
    transition: border-left-width 0.15s; 
}
header .right {
    display: inline;
    float: right;
    position: relative;
    margin-right: 80px;
    margin-top: -1px;
    right: -10px;
}
.right .side-menu {
   
    margin-right: 60px;
}
.right .side-menu li{
    display: inline;
    float: left;    
 }
.right .side-menu ul {
    display: inline-block;
    list-style: none;
}
.right .side-menu .title {
    width: 63px;
    position: relative;
    display: inline-block;

    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    /* text-align: -webkit-match-parent; */
}

.right .side-menu ul li {
    margin-bottom: 15px;
}
header .right .lang-switch {
    display: inline-block;
}
header .right .lang-switch ul {
    display: inline-block; 
}
header .right .lang-switch ul li {
    display: inline;
    float: left;
}



    #search {
        display: inline;
        float: left;
        position: relative;
        margin-top: -10px;
        width: 300px;
        position: absolute;
        right: 0;
        z-index: 0; 
    }
        #search input {
          display: inline;
          float: right;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          box-sizing: border-box;
          width: 0%;
          height: 30px;
          padding: 10px;
          padding-right: 30px;
          border: 1px solid #ccc;
          opacity: 0;
          letter-spacing: 0.05em; 
        }
          #search input::-webkit-input-placeholder {
            color: #ccc;
            letter-spacing: 0.05em; 
        }
          #search input::-moz-placeholder {
            color: #ccc;
            letter-spacing: 0.05em; 
        }
          #search input:-ms-input-placeholder {
            color: #ccc;
            letter-spacing: 0.05em; 
        }
          #search input::placeholder {
            color: #ccc;
            letter-spacing: 0.05em; 
        }
        #search .button {
          display: inline;
          float: left;
          position: absolute;
          right: 0;
          top: 2px;
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          background-image: url(../public/search.svg);
          background-size: 12px 12px;
          background-position: 8px 8px;
          background-repeat: no-repeat; 
        }


#content_thumb {
    margin-bottom: 80px;
    width: auto;
}
#content_thumb .project-group {
    display: inline-block;
    min-height: 1%;
    width: 100%;
    margin-bottom: 30px; }
    #content_thumb .project-group .project-thums {
      display: block;
      background: #eee;
      width: 100%; 
    }
    #content_thumb .project-group .text {
      min-height: 64px; 
    }
      #content_thumb .project-group .text .project-name{
        display: block;
        margin: 23px 0 14px;
        line-height: 1.6em;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
    }
    #content_thumb .project-group .text .project-desc {
        display: inline-block;
        font-size: 12px;
        line-height: 1.7em;
        height: 110px;
        white-space: initial !important;
        overflow: hidden;
        color: #999;
        font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, Verdana, "Noto Sans Japanese", "Noto Sans SC", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        letter-spacing: 0.05em;
        position: relative; 
    }
    
img {
    overflow-clip-margin: content-box;
    overflow: clip; 
    opacity: 1;
    width: 100%;
    height: 100%;
}
#content_thumb .project-group  .project-desc p.more {
  color: #000;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  letter-spacing: 0.1em; 
}